<!-- COLOR PALETTE
Black: 000000
White: FFFFFF
Teal: 75FFE6
Yellow (accent): E5FF87 
Red: FF3232

INDEX EJS
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luke Ellis</title>
    <link rel="stylesheet" type="text/css" href="static/skeleton.css">
    <link rel="stylesheet" type="text/css" href="static/indexstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/index.js"></script>
</head>
<body>
    <p id="big-name">Luke Ellis</p>
    <nav>
        <div class="" id="top-bar">
            <div id="bar-main" class="one column"></div>
            <div id="tabs">
                <a class="three columns bar" href="index"><p>Home</p></a>
                <a class="three columns bar" href="projects"><p>Projects</p></a>
                <a class="three columns bar" href="videos"><p>Videos</p></a>
                <a class="three columns bar" href="music"><p>Music</p></a>
            </div>
        </div>
    </nav>
    <div id="body-container" class="twelve columns">
        <%- body %>
    </div>
    
    
</body>
</html>